## Домашнее задание к вебинару 1

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [271]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [272]:
df.shape

(7043, 21)

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [273]:
df['gender'].value_counts(normalize = True)*100

Male      50.47565
Female    49.52435
Name: gender, dtype: float64

Вывод: соотношение мужчин и женщин приимерно равное, с незначительным преобладанием мужчин

##### 2. Какое количество уникальных значений у поля InternetService?

In [274]:
df['InternetService'].nunique()

3

Вывод: поля 3 уникальных значения

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [275]:
df['TotalCharges'].describe()

count     7043
unique    6531
top
freq        11
Name: TotalCharges, dtype: object

Т. к. тип данных - object, метод describe выводит результаты, отличающиеся от результатов для количественных типов данных (median, mean, std)  
Но в данном случае, тип данных можно скорректировать, предварительно обработав пустые строки

In [276]:
#Можно сразу проебразовать пустые строки и перевести столбец в тип float, но выполним это задание далее

#df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = 0

In [277]:
#df['TotalCharges'] = df['TotalCharges'].astype('float')

In [278]:
#df['TotalCharges'].describe()

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [279]:
# Выведем все значения признака PhoneService
df['PhoneService'].unique()

array(['No', 'Yes'], dtype=object)

In [280]:
df['PhoneService'].replace({'Yes':1, 'No': 0}, inplace=True)

In [281]:
# Проверим получившееся преобразование
df['PhoneService'].unique()

array([0, 1])

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [282]:
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = np.nan

In [283]:
df['TotalCharges'].isna().sum()

11

In [284]:
df['TotalCharges'].fillna(0, inplace=True)

In [285]:
# Перепроверим, остались ли пропуски
df['TotalCharges'].isna().sum()

0

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [286]:
# Выведем все уникальные значения
df['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [287]:
df['Churn'].replace({'Yes': 1, 'No': 0}, inplace=True)

In [288]:
df['Churn'].unique()

array([0, 1])

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [289]:
#Выведем все уникальные значения указанных в задании признаков (вдруг есть еще какие-то значения, которые не указаны)

features = ['StreamingMovies', 'StreamingTV', 'TechSupport']
for feature in features:
    print(f'Уникальные значения {feature} : {df[feature].unique()}')

Уникальные значения StreamingMovies : ['No' 'Yes' 'No internet service']
Уникальные значения StreamingTV : ['No' 'Yes' 'No internet service']
Уникальные значения TechSupport : ['No' 'Yes' 'No internet service']

In [290]:
for feature in features:
    df[feature].replace({'Yes': 1, 'No': 0, 'No internet service': 0}, inplace=True)

In [291]:
# Проверим корректность преобразования 
for feature in features:
    print(f'Уникальные значения {feature} : {df[feature].unique()}')

Уникальные значения StreamingMovies : [0 1]
Уникальные значения StreamingTV : [0 1]
Уникальные значения TechSupport : [0 1]

##### 8. Заполните пропуски в поле PhoneService значением 0

In [292]:
df['PhoneService'].isnull().sum()

0

В признаке PhoneService пропусков не найдено

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [293]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [294]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']

In [295]:
# Создадим новый датасет, содержащий указанные признаки df
df_new = df[columns]
df_new.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.85,0,0,0,0
1,Male,34,1,1889.5,0,0,0,0
2,Male,2,1,108.15,0,0,0,1

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [296]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'

X_train, X_test, y_train, y_test = train_test_split(df_new[features], df_new[target], test_size = 0.25, random_state = 1)

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [297]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline


# 'key' заменила на 'column'
class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Класс для выбора отдного признака из датафрейма для дальнейших преобразований
    """
    def __init__(self, column):
        self.column = column

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.column]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    
    Используется для числовых признаков
    """
    def __init__(self, column):
        self.column = column

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.column]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    
    """
    Делаем преобразование категориальных признаков (в данном случае в дамми)
    """
    
    def __init__(self, column):
        self.column = column
        self.columns = []
    
    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.column).columns]
        return self
    
    #Формируется список из новых колонок (дамми) и возвращается датасет с новыми признаками
    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.column)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(column='gender')),
                ('ohe', OHEEncoder(column='gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [45]:
gender.fit_transform(X_train)

      gender_Female  gender_Male
6463              0            1
289               0            1
4356              1            0
6222              0            1
1790              1            0
...             ...          ...
905               0            1
5192              0            1
3980              0            1
235               0            1
5157              1            0

[5282 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [299]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(column='tenure')),
                ('standard', StandardScaler())
            ])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [300]:
TotalCharges = Pipeline([
                    ('selector', NumberSelector(column = 'TotalCharges')),
                    ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [301]:
from sklearn.pipeline import FeatureUnion

other_features = Pipeline([
                ('selector', ColumnSelector(column=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [302]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('other_features', other_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [303]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features', feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(column='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(column='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('other_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(column=['PhoneService',
                                                                                         'StreamingMovies',
                                                                                         'StreamingTV',
                                                                                         'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(column='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(column='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [310]:
preds = pipeline.predict_proba(X_test)
preds.shape

(1761, 2)

In [311]:
X_test.shape[0] == preds.shape[0]

True

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [337]:
from sklearn.metrics import roc_auc_score, log_loss

roc_square = roc_auc_score(y_test, preds[:,1])
roc_square

# чем ближе к 1, тем лучше

0.7789086293534843

In [338]:
logloss_metric = log_loss(y_test, preds[:,1])
logloss_metric

0.8601080504602561

### Сохраним наш пайплайн

In [40]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)